<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clarus"
        tools:targetApi="31">

        <!-- 1. GİRİŞ NOKTASI (SPLASH EKRANI) -->
        <activity
            android:name=".AcilisEkraniActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. KİMLİK DOĞRULAMA MODÜLLERİ -->
        <activity
            android:name=".GirisYapActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".KayitOlActivity"
            android:exported="false" />

        <!-- 3. ANA KONTROL MERKEZİ -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- 4. SENİN GELİŞTİRDİĞİN MODÜL -->
        <activity
            android:name=".KelimeEkleActivity"
            android:exported="false" />



        <!-- Yapay Zeka / Hikaye Modülü -->
        <activity
            android:name=".StoryChainActivity"
            android:exported="false" />

        <!-- Oyunlaştırma / Wordle Modülü -->
        <activity
            android:name=".WordleActivity"
            android:exported="false" />

        <!-- Analiz / Rapor Modülü -->
        <activity
            android:name=".ReportActivity"
            android:exported="false" />

        <!-- Ayarlar Modülü -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

    </application>

</manifest>